@import url('https://fonts.cdnfonts.com/css/callie-chalk-font');

  html {
    font-weight: bold;
}

#header {
    background: white;
    margin: 0 0 16px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
}

#user-name-label {
    font-weight: bold;
    font-size: 16px;
}

#avatar-and-name-container {
    display: flex;
    align-items: center;
}

.app-section {
    display: grid;
    background: white;
    border-radius: 25px;
    padding: 16px;
    margin: 0 0 16px 0;
}

.app-section > h2 {
    display: table;
    margin: 0 auto 30px auto;
}

.app-section > h3 {
    margin: 0 0 30px 0;
}

.rest-tools {
    width: 100%;
    min-width: 150px;
    max-width: 10%;
}

#joke-line {
    width: 100%;
    min-width: 200px;
    margin: 10px 0;
    font-family: 'Callie Chalk Font', sans-serif;
    font-size: 24px;
}

#footer {
    background: white;
    border-radius: 5px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}